* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
}

:root {
    --red: #ff2020;
    --white: #fff;
    --grey: #f0f0f2;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray2: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Josefin Sans", sans-serif;
    color: #0b1c39;
    font-style: normal;
    font-weight: 500;
}

/*navbar*/
#first-container {
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: #fff;
}

.nav-link {
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: #141517;
    font-weight: 600;
    text-transform: capitalize;
    -webkit-transition: all .3s ease-out 0s;
    -moz-transition: all .3s ease-out 0s;
    -ms-transition: all .3s ease-out 0s;
    -o-transition: all .3s ease-out 0s;
    transition: all .3s ease-out 0s;
}

.nav-item {
    padding: 10px 5px;
    line-height: 2.5;
}

.drop-item {
    line-height: normal;
    text-decoration: none;
    margin-left: 10px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16px;
    color: #141517;
    font-weight: 600;
    text-transform: capitalize;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-bottom: 20px;
}

.badge {
    float: right;
    height: 15px;
}

.badge span {
    font-size: .7rem;
    height: auto;
}

.dropdown-menu {
    border-top: 3px solid red;
}

.nav-link:hover,
.drop-item:hover {
    color: #ff2020;
    transition: all .3s ease-in-out;
}

.right-content {
    display: flex;
    gap: 30px;
    align-items: center;
}

.right-content a i:hover {
    color: var(--red);
}

.openBtn {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.openBtn i:hover {
    color: var(--red);
}

.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 48%;
    font-size: 60px;
    cursor: pointer;
    color: white;
}

.overlay .closebtn:hover {
    color: #ccc;
}

.overlay input[type=text] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    border-radius: 0%;
    width: 80%;
    border: none;
    border-bottom: 1px solid white;
}


.overlay input[type=text]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 15%;
    padding: 15px;
    font-size: 17px;
    border: none;
    border-radius: 0%;
    cursor: pointer;
    background-color: #fff;
}

.overlay button:hover {
    background: #bbb;
}

/*navbar is finish*/

/*introduction content*/
/*-----------------------------------------------------------------*/
#second-container {
    background-color: var(--grey);
    height: auto;
    color: black;
    overflow: hidden;
}

#second-container>.container {
    width: 80%;
    overflow: hidden;
}

.second-col {
    animation: slide 4s ease-in-out infinite;
    margin-top: 20%;

}

.second-col h1 {
    font-weight: bolder;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
}

@keyframes slide {

    0%,
    100% {
        transform: translateX(0);
        animation-timing-function: steps(1, end);
        /* Snap to the 50% position */
    }

    50% {
        transform: translateX(-100%);

    }
}

.second-col-button>.btn {
    padding: 0 30px;
    position: relative;
    line-height: 2.5;
    text-align: center;
    overflow: hidden;
    color: white;
    background-color: var(--gray-dark);
    z-index: 1;
}

.second-col-button>.btn::before {
    content: '';
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100%;
    transition: all .5s;
    z-index: -1;
}

.second-col-button>.btn:hover::before {
    right: 0;
    background-color: var(--red);
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

.second-col2 {
    animation: zoom 6s linear infinite;
    margin-top: 5%;
}

@keyframes zoom {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
        animation-timing-function: steps(1, end);
        /* Snap to the 50% position */
    }
}

.second-col2>img {
    width: 100%;
    max-width: 60%;
}

@media screen and (max-width:700px) {
    #second-container {
        height: auto;
        overflow: hidden;
    }

    .second-col>.btn {
        width: auto;
    }
}

/*-------------------------------------------------------------------*/
#third-container {
    margin-top: 10%;
}

@media screen {}

.zoom {
    overflow: hidden;
}

.zoom img {
    transition: transform 0.5s;
}

.zoom:hover img {
    transform: scale(1.2);
    /* You can adjust the scale factor for the desired zoom level */
}

/*-------------------------------------------------------------------*/
/*forth-container*/
#forth-container {
    margin-top: 10%;
    width: 100%;
}

#forth-container>.row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:999px) {

    #forth-container>.row>.forth-col:nth-child(2),
    .forth-col:nth-child(3) {
        display: none;
    }

    .forth-col>.bg-dark:nth-child(1) {
        width: 90%;
        margin-left: 7%;

    }
}

.forth-col {
    display: grid;
    place-content: center;
}

.bg-dark {
    position: relative;
    overflow: hidden;
}

.bg-dark::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .5;
}

/*-------------------------------------------------------------------*/

#fifth-container {
    margin-top: 10%;
}

.popular,
.fifth-col {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.popular {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popular::before {
    content: 'Add To Cart';
    text-align: center;
    line-height: 2.4;
    color: white;
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    top: 370px;
    width: 100%;
    height: 20%;
    background-color: var(--red);
    transition: all .5s ease-in-out;

}

.fifth-col:hover>.popular::before {
    top: 90%;
}

/*-------------------------------------------------------------------*/
.video-container {
    position: relative;
    margin-top:10%;
  }

  .video-container.hide-before::before {
    display: none;
  }

.video-container::before {
    content: 'THe Next Video';
    position: absolute;
    top: 80%;
    left: 0px;
    width: 35%;
    height: 90px;
    background-color: var(--red);
    color: white;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

  .thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; /* Set the background color for the thumbnail */
    z-index: 1;
  }

  #youtubeVideo {
    width: 100%;
    height: 450px;
    max-width: ;
  }

  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: #000;
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 50px;
    z-index: 2;
  }
  .play-button i {
     color: white;
     font-size: 25px;
  }


#sixth-container {
    margin-top: 10%;
}

.ad-watch>.btn {
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    line-height: 2.5;
    transition: all .5s ease-in-out;
    background-color: var(--gray2);
    color: white;
    z-index: 1;
}

.ad-watch>.btn::before {
    content: '';
    position: absolute;
    right: 100%;
    width: 100%;
    height: 100%;
    transition: all .5s;
    z-index: -1;
}

.ad-watch>.btn:hover::before {
    right: 0;
    background-color: var(--red);
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
/*-------------------------------------------------------------------*/
/*footer container*/
#footer-container {
    margin-top: 10%;
    padding: 50px;
}

.footer-list .list-group-item {
    transition: all .5s ease-in-out;
    border: none;
    outline: none;
}

.footer-list .list-group-item:hover {
    transform: translateX(20px);
    color: var(--red);
}

.social-icons {
    /*social media */
    float: right;
}

.social-icons a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    transition: all .5s ease-in-out;
}

.social-icons a:hover {
    transform: rotateY(360deg);
    color: var(--red);
}