
.second-container {
    background-color: var(--grey);
    height: 100svh;
}


.mission-header h3, .vision h3 {
    margin-left: 12%;
    font-weight: 600;
}

.mission-header, .vision {
    position: relative;
    z-index: 1;
}

.mission-header::before, .vision::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 14px;
    width: 10%;
    height: 2px;
    background-color: var(--red);
    z-index: 1;
}