.second-container {
    background-color: var(--grey);
    height: 100svh;

}

.coupon-input > input{
    border: none;
    outline:none;
    border-bottom: 1px solid black;
}

.apply {
    transition: .5s;
}

.apply:hover {
    color:#fff;
    background-color: var(--danger);
}

.billing-form {
    line-height: 3;
}

.billing-form > input, .billing-name > input, .billing-email > input {
    border: none;
    outline:none;
    border-bottom: 1px solid black;
    width: 50%;
}
.checkout > .btn  {
    padding: 25px 30px;
    border: 1px solid var(--second);
    color: var(--second);
}

.checkout > .btn:hover {
    background-color: var(--danger);
    color: #fff;
}