* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto",sans-serif;
    font-weight: normal;
    font-style: normal;
}

:root {
    --main: rgb(130, 139, 178);
    --second: rgb(37, 119, 253);
    --red: #ff2020;
    --white: #fff;
    --grey:#f0f0f2;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray2: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Josefin Sans",sans-serif;
    color: #0b1c39;
    margin-top: 0px;
    font-style: normal;
}
.second-container {
    background-color: var(--grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:800px) {
    .second-container {
        height: 50vh;
    }
}

.confirm-page h1 {
    margin-top: 25%;
}


.lists {
    display: grid;
    grid-template-columns: auto auto;
}

.lists li {
    border: none;
    outline: none;
}