.second-container {
    background-color: var(--grey);
    height: 100svh;

}

input, textarea {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.contact-button {
    background-color: var(--red);
}

.contact-button a {
    color: #fff;
}

.contact-button:hover > a {
    color: #000;
}