
.second-container {
    background-color: var(--grey);
    height: 100svh;
}

/*----------------------------------------------------------------------*/
.third-container {
    margin-top: 10%;
}

.slider {
    height: 500px;
}

.slide {
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(100%);
}

.slide.active {
    opacity: 1;
    transform: translateX(0);
}

.slide.next {
    transform: translateX(100%);
}

.slide.prev {
    transform: translateX(-100%);
}

/*----------------------------------------------------------------------*/

.forth-container {
    margin-top: 10%;
}

.quantity-controller {
    width: 65%;
}

/*----------------------------------------------------------------------*/

.fifth-container {
    height: 90vh;
    margin-top: 7%;
    background-color: rgb(25, 29, 52);
}

.promo-info {
    margin-top: 10%;
}


@media screen and (max-width:600px) {
    .promotion {
        width: 100%;
    }

    .form-group {
        width: 100%;
        display: flex;
    }

    .form-group input[type="email"] {
        width: 100%;
    }

    .form-group .btn {
        background-color: var(--second);
        border-radius: 50px;
        padding: 13px 25px;
        position: absolute;
        right: 0px;
        color: white;
    }
}

.form-control::placeholder {
    color: white;
    z-index: 2;
}